*{
	margin: 0;
	padding:0;
}

body{
	font-family: sans-serif;
}

header{
	background: #000; 
	color: #fff;
	display: flex;
	font-family: sans-serif;
	padding: 0 5%;
	justify-content: space-between;
	box-shadow: 0px 2px 8px grey;
}

hr{
	margin-bottom: 8%;
}

#logo{
	font-size: 40px;
	padding: 20px;
	display: inline-block;
	text-shadow: 0px 0px 6px red;
}

#nav{
	align-self: center;
	clear: both;
}

#nav li{
	list-style: none;
	display: inline-block;
}

#nav li a{
	color: white;
	display: block;
	position: relative;
	text-decoration: none;
	padding: 30px;
	box-sizing: border-box;
}

#nav li a::before, #nav li a::after{
	content: '';
	transform: scale(0);
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	transition: .5s all ease;
	box-sizing: border-box;
}

#nav li a::before{
	border-left: 2px solid white;
	border-bottom: 2px solid white;
	transform-origin: 0 100%;
}

#nav li a::after{
	border-top: 2px solid white;
	border-right: 2px solid white;
	transform-origin: 100% 0;
}

#nav li a:hover:before, #nav li a:hover:after{
	transform: scale(1);
}

#content{
	margin:5% 35%;
}

#login{
	padding:30px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid lightgrey;
	box-shadow: 0px 2px 5px grey;
	z-index: 2;
}

#login h1{
	text-align: center;
	margin-bottom: 20px;
}

#login input{
	padding:10px 45px;
	border-radius: 5px;
	border:1px solid grey;
	margin: 20px auto;
	display: block;
	background: transparent;
	width:-webkit-fill-available;
	z-index: 1000;
	overflow: hidden;
}

.icon{
	display: block;
	position: relative;
	z-index: 30;
}

.icon::before{
	content: '';
	position: absolute;
	text-align: center;
	top: 0;
	left: 0px;
	padding:7.5px 5px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid black;
	background: #f0f0f0;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 1rem;
	color: black;
	opacity: .7;
	width: 1.5rem;
}

.user::before{
	content: '\f508';
}

.pass::before{
	content: '\f13e';
}

#login input:focus{
	box-shadow: 0px 0px 5px #00adffad;
	border-radius: 5px;
	outline: none;
}

#login button{
	display: inline-block;
	background: #03b403;
	padding:10px;
	border: 1px solid #07b007;
	border-radius: 5px;
	width: 50%;
	margin: 0 25%;
	color: #fff;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: lighter;
	margin-top: 30px;
	box-shadow: 0px 2px 4px grey;
	transition: 1s all ease; 
}

#login button:hover{
	background: #00b000;
	box-shadow: 0px 0px 5px grey inset;
}